@using Neof5WebSite.ViewComponents
@{
    ViewBag.Title = "TEST 3 - 模擬対戦";
}
@Html.Partial("_HeaderNav")
<div class="container">
<div class="paper-flex-head"></div>
<div class="paper-flex-body">
    <div class="row paper-flex">
        <div class="col-sm-10 col-sm-offset-1">
        <h2>@ViewBag.Title</h2>

		<h3>概要</h3>
		<p>
			最後のテストは、模擬対戦です。<br />
			クイックプレイで使用されている対戦プログラムと実際に対戦することが出来ます。<br />
		</p>

		<h3>テスト手順</h3>
        <p>
			このテストを行うには、サーバ側に専用のプレイルームを作成する必要があります。<br />
			まず以下のリンクをクリックしてマスタサーバの専用ページにアクセスしてください。<br />
			それだけでサーバの準備が完了し、テストのためのプレイルームが作成されます。<br />
			<br />
			<a href="http://@(await Component.InvokeAsync<MasterSiteHostPortViewComponent>())/playroom/practice/A" target="_blank">プレイルームを作成する（クラスＡルール）</a><br />
			<a href="http://@(await Component.InvokeAsync<MasterSiteHostPortViewComponent>())/playroom/practice/B" target="_blank">プレイルームを作成する（クラスＢルール）</a><br />
			<br />
			次に、ページに表示されたURLにプログラムから接続すると、対戦が開始されます。<br />
			<small class="text-warning">模擬対戦の様子は、実際にゲーム画面で観戦することもできます。</small>
        </p>
		<p>
			正常に接続されると、自動的にゲームが始まります。<br />
			あなたのプログラムと、クイックプレイ用のプログラム3つとの対戦となっております。<br />
			クイックプレイ用のプログラムは、実は出せるカードを何でも出してくるだけの最低限の思考ルーチンであり、特別なアルゴリズムは実装されていません。<br />
			少しの工夫で簡単に勝てるようになると思いますので、頑張ってください。<br />
		</p>

		<h3>合格基準</h3>
		<p>
			合格基準は特にありません。納得のいくまで模擬対戦をし、最強のプログラムを目指してください。<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
		</p>

		<hr />
		<p style="text-align:right">
			実施可能なテストは以上です。<br />
			大会に向けて模擬対戦を繰り返し、思考ルーチンのチューニングを行いましょう。<br />
		</p>
		</div>
    </div>
</div>
</div>
