@using Neof5WebSite.ViewComponents
@{
    ViewBag.Title = "TEST 2 - ルールチェック";
}
@Html.Partial("_HeaderNav")
<div class="container">
<div class="paper-flex-head"></div>
<div class="paper-flex-body">
    <div class="row paper-flex">
        <div class="col-sm-10 col-sm-offset-1">
        <h2>@ViewBag.Title</h2>

		<h3>概要</h3>
		<p>
			次のテストは、ルール通りにカードを選択することが出来るかどうかのチェックです。<br />
			マスタサーバから送られたゲーム情況データに対し、ルールに反しないカード選択を行うことが出来るかどうかテストします。<br />
		</p>

		<h3>テスト手順</h3>
        <p>
			このテストを行うには、サーバ側に専用のプレイルームを作成する必要があります。<br />
			まず <a href="http://@(await Component.InvokeAsync<MasterSiteHostPortViewComponent>())/playroom/ruletest" target="_blank">ここ</a> をクリックしてマスタサーバの専用ページにアクセスしてください。それだけでサーバの準備が完了し、テストのためのプレイルームが作成されます。<br />
			次に、ページに表示されたURLにプログラムから接続すると、テストが実施されます。<br />
			<small class="text-warning">テストが実行されている様子を、実際にゲーム画面で観戦することもできます。</small>
        </p>
		<p>
			正常に接続されると、自動的にテスト用の局面が再現され、ゲームが始まります。<br />
			あなたのプログラムと、テスト用のプログラム2つを加えた3人での対戦となっており、あらかじめ用意された局面からゲームが始まります。<br />
			手番が回ってきたら、手札の中から出したいカードを選択し応答を返してください。<br />
			出せるカードがない場合はパスをすることも必要です。（パスは自動的にされません）<br />
			ルール通りに応答しなければ、Exceptionメッセージが送られてきます。その場合はテスト不合格です。<br />
		</p>

		<h3>合格基準</h3>
		<p>
			確認ポイントは、以下の5つです。（Exceptionメッセージを受信することなくゲームを終了すればテスト合格です）
		</p>
		<dl>
			<dt>1. 通常時のカードの選択</dt>
			<dd>場に出されたカードより強いカードを正しく選択するか。</dd>
			<dt>2. 複数枚のカードへの対応</dt>
			<dd>場に出されたカードが複数枚のとき、正しく手札から同じ枚数を選択するか。</dd>
			<dt>3. パス</dt>
			<dd>出せるカードがない場合に、正しくパスをすることができるか。</dd>
			<dt>4. 親の手番</dt>
			<dd>自分が親になったとき、パスをすることなく手札を選択するか</dd>
			<dt>5. 革命時のカードの選択</dt>
			<dd>革命中でも、場に出されたカードより強いカードを正しく選択するか。</dd>
		</dl>

		<h3>備考</h3>
		<ul>
			<li>マスタサーバは実践と同じものが使用されています。</li>
			<li>デバッガーでのステップ実行等を考慮し、手番の応答タイムアウトは5分に設定されています。</li>
			<li>プレイルームの有効期間は30分です。その間であれば、接続が切れた場合でも再接続すれば途中からテストが継続されます。</li>
		</ul>
		<hr />
		<p style="text-align:right">
			このテストの内容は以上です。<br />
			クリア出来たら次のテストへ進んでください。<br />
			<a href="test3" class="btn btn-success">次のテストへ</a>
		</p>
		</div>
    </div>
</div>
</div>
