@using Neof5WebSite.ViewComponents
@{
    ViewBag.Title = "TEST 1 - 接続チェック";
}
@Html.Partial("_HeaderNav")
<div class="container">
<div class="paper-flex-head"></div>
<div class="paper-flex-body">
    <div class="row paper-flex">
        <div class="col-sm-10 col-sm-offset-1">
        <h2>@ViewBag.Title</h2>

		<h3>概要</h3>
		<p>
			最初のテストは、簡単な WebSocket の接続チェックです。<br />
			作成したプログラムが正しくマスタサーバと接続し、通信できるかどうかをテストします。<br />
		</p>

		<h3>テスト手順</h3>
        <p>
			作成したプログラムで以下のURLにWebSocketで接続してください。<br />
			<strong>接続URL:</strong>
			<pre>ws://@(await Component.InvokeAsync<MasterSiteHostPortViewComponent>())/test/connection?name={ProgramName}</pre>
			<code>{ProgramName}</code>は、プログラムの愛称やあなたのニックネームをセットしてください。これが大会での識別名となります。<br />
			なお、日本語文字列を使用する場合はURLエンコードする必要があります。<br />
			このパラメータは必須です。省略することはできません。
        </p>

		<h3>合格基準</h3>
		<p>
			正常に接続されると、サーバより以下のようなメッセージが送られてきます。
			<pre>
{
  "Kind": "ConnectionTest",
  "Message": "Congratulations!! You have successfully WebSocket connection. The current time is 12:16:42 (UTC)",
  "YourName": "xxxxx"
}
			</pre>
			メッセージは JSON 形式です。あなたのプログラムで正しく JSON 解釈できているか、確認してみてください。
		</p>
		<p>
			さらに、JSON形式で何かメッセージを送信すると、応答が返ってきます。試してみてください。
		</p>
		<ul>
			<li>このテストでは、接続後60秒が経過するとタイムアウトとなり自動的に切断されます。</li>
			<li>エラーが発生するとエラーメッセージが返され、強制切断されます。</li>
		</ul>
		<hr />
		<p style="text-align:right">
			このテストの内容は以上です。<br />
			クリア出来たら次のテストへ進んでください。<br />
			<a href="test2" class="btn btn-success">次のテストへ</a>
		</p>
		</div>
    </div>
</div>
</div>
