@{
    ViewBag.Title = "クイックプレイ";
}
@Html.Partial("_HeaderNav")
<div class="container">
<div class="paper-simple">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">

            <h1>@ViewBag.Title</h1>
            <p>
                ここでは、実際にオンラインでコンピュータと対戦することができます。あなた vs サンプルプログラム4人 での対戦となります。<br />
                実際にプレイして大会ルールの確認や、開発者コンソールを開くことでマスタープログラムとの通信ログを確認できますので、プロトコルの確認にも活用できます。<br />
                もちろん、一般の方でもプレイしていただけます。<br />
                プレイするには、WebSocketに対応したブラウザである必要があります。
            </p>

            <div id="landing">
                <a class="btn_quickplay" style="display: none"></a>
				<p id="tilt" style="display: none" class="text-warning">
					<img src="/Content/imgs/tolandscape.png" style="width:50%"/><br />
					デバイスを横向きにしてください。
				</p>
				<p id="unsupported" style="display: none" class="text-warning">
					ご利用のブラウザは WebSocket 対応でないたプレイ出来ません。
				</p>
            </div>

            <h2>ルール</h2>
            <ul>
                <li>ジョーカーは1枚、常に最強
					<ul class="list-unstyled text-danger">
                        <li>トランプの中に1枚だけジョーカーが入っています。ジョーカーは常に最強で、それより強いカードは存在しません。</li>
                    </ul>
                </li>
                <li>革命あり、革命返しあり
					<ul class="list-unstyled text-danger">
                        <li>カードを4枚以上同時に出すと、革命となりカードの強さが反転します。ただしジョーカーは革命の影響を受けず最強のままです。</li>
                    </ul>
                </li>
                <li>同じ数字のカードを同時に出せる
					<ul class="list-unstyled text-danger">
                        <li>ジョーカーを含めて出すことも可能とします。</li>
                    </ul>
                </li>
                <li>階段あり
					<ul class="list-unstyled text-danger">
                        <li>同じスートで3枚以上連続した数字がある場合、まとめて出すことが出来ます。ジョーカーを含めることも出来ます。4枚以上出すと革命になります。</li>
                    </ul>
                </li>
                <li>ジョーカーあがり禁止、２上がり禁止
				    <ul class="list-unstyled text-danger">
                        <li>ジョーカー、２であがると、強制的に最下位となります。革命時は２ではなく３あがり禁止となります。</li>
                        <li>あがり札がジョーカーと他の札を含む場合、他の札で判定されます。</li>
                    </ul>
                </li>
            </ul>
	    </div>
	</div>
</div>
</div>

@* Preload Images *@
<img src="/Content/imgs/btn_play_on.png" style="display:none" />

@section Scripts{
<script type="text/javascript">
	$(function () {
		if (!WebSocket) {
			$('#unsupported').fadeIn();
		} else {
			var at = navigator.userAgent;
			if (at.indexOf('iPhone') > 0 || at.indexOf('iPad') > 0 || at.indexOf('iPod') > 0 || at.indexOf('Android') > 0) {
				// モバイルデバイスの場合は横画面かどうかを判定	
				var f = function () {
					if (window.innerHeight > window.innerWidth) {
						$('.btn_quickplay').hide();
						$('#tilt').fadeIn();
					} else {
						$('#tilt').hide();
						$('.btn_quickplay').fadeIn();
					}
				};
				f();
				$(window).resize(f);
			} else {
				$('.btn_quickplay').fadeIn();
			}
		}
	
		function openGameWindow(rule,name) {
			window.open('http://@Constants.MASTER_SITE_HOSTPORT()/quickplay/'+rule+'/?name='+name, '_blank', 'width=800,height=441,scrollbars=auto,resizable=yes');  
		}

		$('.btn_quickplay').click(function () { openGameWindow('B', 'あなた'); });
	});
</script>
}

@section Css {
	<link rel="stylesheet" href="/Content/css/landing.css" />
	<link rel="stylesheet" href="/Content/css/landing-1200.css" media="only screen and (min-width: 1200px)" />
	<link rel="stylesheet" href="/Content/css/landing-970.css" media="only screen and (min-width: 992px) and (max-width: 1199px)" />
	<link rel="stylesheet" href="/Content/css/landing-768.css" media="only screen and (min-width: 768px) and (max-width: 991px)" />
	<link rel="stylesheet" href="/Content/css/landing-mobile.css" media="only screen and (max-width: 767px)" />
	<style type="text/css">
	    #landing {
	        text-align: center;
	    }
	    #landing > * {
			position: static;
			margin: 50px auto;
		}
	</style>
}