@{
    ViewBag.Title = "エントリーフォーム";
}
@Html.Partial("_HeaderNav")
<div class="container">
<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        ただいま制作中です。しばらくお待ちください。
    </div>
</div>
</div>