body {
    margin:0;
	padding-top: 30px;
}

.fork-me-on-bitbucket {
    background: url("/Content/imgs/fork_me_on_bitbucket.png") center;
    background-size: 100% 100%;
	width: 105px;
	height: 105px;
    position: fixed;
    top: 0px;
    right: 0px;
}

/* ----------------------- タイル */
.tile {
    float: left;
    width: 130px;
    height: 130px;
    margin: 4px;
    padding: 4px;
    text-decoration: none;
    color: #444;
    position: relative;
    border: 4px solid #ffffff;
}
    .tile:hover {
        border: 4px solid #aaa;
		text-decoration: none;
	    color: #444;
		/*margin: 4px;*/
        cursor: pointer;
    }
    .tile:active {
        border: 4px solid gray;
		text-decoration: none;
	    color: #622;
        cursor: pointer;
    }

.tile strong {
    text-align: center;
	margin: auto;
	font-size: 180%;
	width: 100%; line-height: 120px;
	display: block;
}

.tile p {
    color: #f3f3f3;
    width: 122px;
    padding: 4px 0 4px 8px;
	margin: 0;
    position: absolute; bottom: 0; left: 0;
}
    .tile:hover p {
        background-color: #444;
    }

.bg-color-blue {
    background-color: #42AAC7;
}

.bg-color-orange {
    background-color: #E06A3B;
}