@{
    ViewBag.Title = "プログラムテスト";
}
<div class="row">
    <div class="col-sm-10 col-sm-offset-1">

        <div class="jumbotron">
            <h1>@ViewBag.Title</h1>
            <p>
                ここでは、プログラムを用いて対戦することができます。プログラム vs サンプルプログラム4人 での対戦となります。<br />
				対戦の様子は画面で観戦することができます。
            </p>
            <p id="ok" style="display:none"><button class="btn btn-success btn-lg" role="button" disabled="disabled">Comming soon...</button></p>
			<p id="ng" style="display:none" class="danger">ご利用のブラウザでは観戦出来ません。</p>
        </div>
    </div>
</div>

@section Scripts{
<script type="text/javascript">
	$(function () {
		if (!WebSocket) {
			$('#ng').fadeIn();
			alert('NG');
		} else {
			$('#ok').fadeIn();
		}
	});
	$('button').click(function () {
	});
</script>
}