@{
    ViewBag.Title = "Unsupported Browser";
}
<div class="container">

    <div class="jumbotron">
        <h1>@ViewBag.Title</h1>
        <p>
            このサイトは、Internet Explorer 9 以下のバージョンには対応しておりません。<br />
			対応ブラウザは以下の通りです。<br />
			</p>
			<ul>
				<li>Internet Explorer 10 以降</li>
				<li>Chrome 3.0 以降</li>
				<li>Firefox 4.0 以降</li>
				<li>Safari 4.1 以降</li>
				<li>Opera 10 以降</li>
			</ul>
    </div>
</div>
