@{
    ViewBag.Title = "ルール";
}
@Html.Partial("_HeaderNav")
<div class="container">
    <h2>@ViewBag.Title</h2>

    <h3>基本ルール</h3>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <p>
                基本的なルールおよびゲームの進行は、一般的な大富豪に従います。<br />
                ルールを知らない方は、<a href="http://ja.wikipedia.org/wiki/%E5%A4%A7%E5%AF%8C%E8%B1%AA">Wikipedia</a> をご参照ください。
            </p>
        </div>
    </div>

    <h3>大会進行</h3>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <ul>
                <li>3～5人ごとのリーグに分かれて、勝ち抜き戦とします。</li>
                <li>リーグ内で対戦し、1位が5ポイント、2位が4ポイントと順にポイントを獲得していき、最下位は0ポイントです。</li>
                <li>10回戦を3セット行い、最終的にポイントを多く獲得した人が勝ち抜けとなります。</li>
                <li>1位になると階級が「大富豪」となり、次のゲームは「大貧民」との2枚交換がありますので、圧倒的に有利な条件で進めることができますが、10回戦ごとに階級がリセットされ、次のセットからはまた全員「平民」となってスタートします。</li>
                <li>大会は、ルールの複雑度によってＡクラスとＢクラスの2部構成とします。両方のクラスにエントリーすることも出来ます。</li>
            </ul>
        </div>
    </div>

    <h3>ゲームの詳細ルール</h3>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <h4>【Ａクラス】</h4>
            <p>
                最低限のルールだけを設定した、単純でプログラム実装の手間が少ない、忙しい方向けのルールです。
            </p>
            <ul>
                <li>ジョーカーは1枚、常に最強
		<ul class="list-unstyled text-muted">
            <li>トランプの中に1枚だけジョーカーが入っています。ジョーカーは常に最強で、それより強いカードは存在しません。</li>
        </ul>
                </li>
                <li>革命あり、革命返しあり
		<ul class="list-unstyled text-muted">
            <li>カードを4枚以上同時に出すと、革命となりカードの強さが反転します。ただしジョーカーは革命の影響を受けず最強のままです。</li>
        </ul>
                </li>
                <li>同じ数字のカードを同時に出せる
		<ul class="list-unstyled text-muted">
            <li>ジョーカーを含めて出すことも可能とします。</li>
        </ul>
                </li>
            </ul>
            <p>
                上記以外の制限事項、ローカルルールは適用されません。
            </p>

            <h4>【Ｂクラス】</h4>
            <p>
                Ｂクラスは、Ａクラスルールに加えて階段やあかり禁止札など、少し難易度がアップしています。<br />
                思考ルーチンにも幅が広がり、より戦略的な打ち方が求められます。
            </p>
            <ul>
                <li>ジョーカーは1枚、常に最強</li>
                <li>革命あり、革命返しあり</li>
                <li>
                同じ数字のカードを同時に出せる
		<li>階段あり
			<ul class="list-unstyled text-muted">
                <li>同じスートで3枚以上連続した数字がある場合、まとめて出すことができます。</li>
            </ul>
        </li>
                <li>ジョーカーあがり禁止、２上がり禁止
			<ul class="list-unstyled text-muted">
                <li>ジョーカー、２であがると、強制的に最下位となります。革命時は２ではなく３あがり禁止となります。</li>
                <li>ジョーカーと他の札を含む場合、他の札で判定されます。</li>

            </ul>
                </li>
            </ul>

        </div>
    </div>
</div>
