@{
    ViewBag.Title = "ネオ富豪";
}
@Html.Partial("_HeaderNav")
<div class="container">
    <div class="jumbotron">
        <h1>ネオ富豪</h1>
        <p>
            コンピュータ大富豪大会「ネオ富豪」の公式サイトです。現在制作中です。<br />
            ただいま、オンラインでコンピュータと対戦できる「クイックプレイ」がお試しいただけます。
        </p>
        <p><a class="btn btn-primary btn-lg" role="button" href="/waitingroom/quickplay">クイックプレイ</a></p>
    </div>
</div>
