@{
    ViewBag.Title = "ネオ富豪";
}
<div class="container">
    <div class="jumbotron">
        <h1>ネオ富豪マスタサーバ</h1>
        <p>
            トランプゲーム「大富豪」をネットワーク対戦するのためのマスタサーバです。<br />
            実際にプレイするには、WebSocketに対応したブラウザである必要があります。
        </p>
        <p id="ok" style="display: none">
            <button class="btn btn-primary btn-lg" role="button" id="btnB">クイックプレイ</button>
        </p>
        <p id="ng" style="display: none" class="danger">ご利用のブラウザは WebSocket 対応でないたプレイ出来ません。</p>
    </div>

</div>

@section Scripts{
<script type="text/javascript">
	$(function () {
		if (!WebSocket) {
			$('#ng').fadeIn();
			alert('NG');
		} else {
			$('#ok').fadeIn();
		}
	});
	
	function openGameWindow(rule,name) {
		window.open('quickplay/'+rule+'/?name='+name, '_blank', 'width=800,height=440,scrollbars=auto,resizable=yes');  
	}

	$('#btnB').click(function () { openGameWindow('B', 'あなた'); });
</script>
}