@{
    ViewBag.Title = "ネオ富豪";
}
@Html.Partial("_HeaderNav")
<div class="container">
    <div class="jumbotron">
        <h1>エントリー完了</h1>
        <p>
			ありがとうございます。<br />
			申し込みを受け付けました。<br />
			<br />
			</p>
		<p class="text-warning">
			自動受付メールを送信いたしましたのでご確認ください。<br />
			しばらくたってもメールが届かない場合は、メールアドレスに誤りがあったかもしれません。<br />
			再度エントリーして頂けますようお願いいたします。<br />
        </p>
        <p><a class="btn btn-primary btn-lg" role="button" href="/">トップへ戻る</a></p>
    </div>
</div>